<a href="https://colab.research.google.com/github/AdityaWarrior94/Full-Stack-Data-Science-Pro/blob/main/19th_aug_23_python_basics_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
coordinates = (10, 20)
colors = ("red", "green", "blue")
print(type(coordinates))  # Output: <class 'tuple'>

In [ ]:
x = 10
y = 5

# Swapping values without using a temporary variable
x, y = y, x

# Now, x has the value that y originally had, and y has the value that x originally had
print("After swapping:")
print("x =", x)
print("y =", y)

After swapping:
x = 5
y = 10

In [ ]:
length =float(input("Enter the length of the rectangle"))
Width =float(input("Enter the length of the rectangle"))
area = length * width
print("The area of the rectangle is:", area)

Enter the length of the rectangle4
Enter the length of the rectangle5
The area of the rectangle is: 20.0

In [ ]:
celsius_temperature = float(input("Enter the temperature in Celsius: "))
fahrenheit_temperature = (celsius_temperature * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit_temperature)

Enter the temperature in Celsius: 35
Temperature in Fahrenheit: 95.0

In [ ]:

user_input = input("My Name is : ")
string_length = len(user_input)
print("Length of the string:", string_length)

My Name is : Aditya
Length of the string: 6

In [ ]:
user_sentence = input("Enter a sentence: ")
user_sentence_lower = user_sentence.lower()
vowel_count = 0
for char in user_sentence_lower:
    if char in "aeiou":
        vowel_count += 1
        print("Number of vowels in the sentence:", vowel_count)

Enter a sentence: aditya
Number of vowels in the sentence: 1
Number of vowels in the sentence: 2
Number of vowels in the sentence: 3

In [ ]:
user_input = input("Enter a string: ")
reversed_string = user_input[::-1]
print("Reversed string:", reversed_string)

Enter a string: aditya
Reversed string: aytida

In [ ]:
# Input a string from the user
user_input = input("Enter a string: ")

# Remove spaces and convert to lowercase for case-insensitive comparison
cleaned_input = user_input.replace(" ", "").lower()

# Check if the cleaned string is a palindrome
if cleaned_input == cleaned_input[::-1]:
    print("The entered string is a palindrome.")
else:
    print("The entered string is not a palindrome.")

Enter a string: aka
The entered string is a palindrome.

In [ ]:
user_input = input("Enter a string: ")
string_without_spaces = user_input.replace(" ", "")
print("Modified string without spaces:", string_without_spaces)

Enter a string: a sd as
Modified string without spaces: asdas

In [1]:
coordinates = (10, 20)
colors = ("red", "green", "blue")
print(type(coordinates))  # Output: <class 'tuple'>

<class 'tuple'>

In [2]:
person = {"name": "Bob", "age": 30, "city": "New York"}
print(type(person))  # Output: <class 'dict'>

<class 'dict'>

In [3]:
unique_numbers = {1, 2, 3, 3, 4}  # Duplicates are removed
print(unique_numbers)  # Output: {1, 2, 3, 4}
print(type(unique_numbers))  # Output: <class 'set'>

{1, 2, 3, 4}
<class 'set'>

In [4]:
is_raining = True
is_sunny = False
print(type(is_raining))  # Output: <class 'bool'>

<class 'bool'>

In [5]:
result = None
print(type(result))  # Output: <class 'NoneType'>

<class 'NoneType'>

In [17]:
l1= [1,2,3,4,"Aditya",3.34,True,[1,2,3]]

In [18]:
type(l1)

list

In [19]:
l1[5]

3.34

In [20]:
l1[-3]

3.34

In [21]:
l1[0:3]

[1, 2, 3]

In [22]:
l1[-1:-3]

[]

In [23]:
l1[-1]

[1, 2, 3]

In [24]:
l2=[3,4,5,"pwskills","learn easily"]

In [25]:
l1+l2 #Concatenation

[1,
 2,
 3,
 4,
 'Aditya',
 3.34,
 True,
 [1, 2, 3],
 3,
 4,
 5,
 'pwskills',
 'learn easily']

In [26]:
l2+"sudh"

TypeError: can only concatenate list (not "str") to list

In [ ]:
#so mean to say concatenate
#only work if same dataframe

In [27]:
l1+l2

[1,
 2,
 3,
 4,
 'Aditya',
 3.34,
 True,
 [1, 2, 3],
 3,
 4,
 5,
 'pwskills',
 'learn easily']

In [28]:
l2*2 #Repeat same list

[3, 4, 5, 'pwskills', 'learn easily', 3, 4, 5, 'pwskills', 'learn easily']

In [ ]:
#Tuples

In [30]:
l2[0]=300

In [31]:
l2

[300, 4, 5, 'pwskills', 'learn easily']

In [ ]:
#Mutation we can do as well in list

In [ ]:
#if need to store a data where
#no mutation allowed

In [32]:
t=(1,2,3,4,"Aditya",3.34,True,[1,2,3])

In [33]:
type(t)

tuple

In [ ]:
#indexing concept is same as list

In [35]:
t[-1]

[1, 2, 3]

In [36]:
t[0]

1

In [37]:
t

(1, 2, 3, 4, 'Aditya', 3.34, True, [1, 2, 3])

In [38]:
t[0]="sudh"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#So in tuple mutation not allowed

In [40]:
t2=(1,2,3,4)

In [41]:
t1+t2

(1, 2, 3, 4, 1, 2, 3, 4)

In [42]:
list(t)

[1, 2, 3, 4, 'Aditya', 3.34, True, [1, 2, 3]]

In [ ]:
#to convert tuple into list vice versa

In [43]:
tuple(l2)

(300, 4, 5, 'pwskills', 'learn easily')

In [47]:
len(t2)

4

In [48]:
l1

[1, 2, 3, 4, 'Aditya', 3.34, True, [1, 2, 3]]

In [49]:
len(l1)

8

In [ ]:
#dictionary

In [50]:
s={}

In [51]:
type(s)

dict

In [52]:
s1={1,2,3,4}

In [53]:
type(s1)

set

In [54]:
s1

{1, 2, 3, 4}

In [ ]:
#Set always try to remove duplicates rest same

In [57]:
s2={"aditya","aditya","aditya",1,2,3}

In [58]:
s2

{1, 2, 3, 'aditya'}

In [ ]:
#python is also case_semsitive

In [59]:
s3={"aditya","Aditya","aditya",1,2,3}

In [62]:
s3

{1, 2, 3, 'Aditya', 'aditya'}

In [64]:
list(s3)

['Aditya', 2, 3, 1, 'aditya']

In [65]:
set(s3)

{1, 2, 3, 'Aditya', 'aditya'}

In [ ]:
#But if incase list under list
#Then there will be error

In [66]:
l4=[1,2,3,[1,2,4]]

In [67]:
set(l4)

TypeError: unhashable type: 'list'

In [ ]:
# prompt: Why set not create if list under list

# Sets in Python are collections of unique and unordered elements.
# They cannot contain duplicate elements, and the order of elements is not preserved.

# When you try to create a set from a list that contains another list,
# the inner list is treated as a single element of the set.
# This is because sets do not allow nested elements.

# For example:
l4 = [1, 2, 3, [1, 2, 4]]
s4 = set(l4)
print(s4)

# Output:
# {1, 2, 3, [1, 2, 4]}

# As you can see, the inner list [1, 2, 4] is treated as a single element of the set.

# If you want to create a set from a list that contains another list,
# you need to flatten the list first.
# This can be done using the following code:

l4 = [1, 2, 3, [1, 2, 4]]
flattened_list = [item for sublist in l4 for item in sublist]
s4 = set(flattened_list)
print(s4)

# Output:
# {1, 2, 3, 4}

# Now, the set s4 contains all the elements of the original list,
# including the elements of the inner list.

In [68]:
tuple(s2)

(1, 2, 3, 'aditya')

In [69]:
s2

{1, 2, 3, 'aditya'}

In [70]:
s2[0]

TypeError: 'set' object is not subscriptable

In [ ]:
#Indexing not allowed right?

In [ ]:
#So for tht convert first in list

In [71]:
list(s2)

[1, 2, 3, 'aditya']